// Note: I'm experiencing a bug where I can't seem to find a way to add the
// necessary top-margin to the legend's category labels using this file. The
// label spacing, as well as the coloring of the legend, is defined inline in
// the file called app/assets/scripts/components/legend.js.

.legend {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 250px;
  background-color: rgb(255, 255, 255);
}

.legend .legend-title {
  p {
    font-weight: $base-font-regular;
    margin-bottom: $global-spacing/2;
    color: tint($base-color, 30%);
  }
  margin-top: $global-spacing;
  margin-left: 7.5%;
}

.legend .legend-scale ul {
  float: left;
  list-style: none;
  width: 85%;
  margin-left: 7.5%;
}

.legend .legend-scale ul li {
  display: block;
  float: left;
  width: 20%;
  margin-bottom: 6px;
  list-style: none;
  color: tint($base-color, 60%);
}

.legend-labels li {
  font-size: 0.675rem;
  width: auto;
  &:last-child {
    text-align: right;
  }
}

.legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 17px;
  width: 100%;
}
