.main-figure {
  height: 100%;
  @include col(11/12, $offset: 1/12);
  overflow: auto;
/*  padding: $global-spacing ($global-spacing * 2);*/

}

.main-figure-interior{
  height: auto;
  padding: $global-spacing 0;
}

// Top
.back-link {
  span {
    font-size: 0.75rem;
    color: $link-color;
    text-decoration: underline;
    &:hover {
      color: tint($link-color, 30%);
    }
  }
}

.main-stats {
  float: left;
}

.zipcode-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: $global-spacing;
  font-weight: $base-font-bold;
}

.zipcode-title-chart {
  font-weight: $base-font-bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: $global-spacing * 5;
  @include col(8/12, $offset:1/12);
}

.small-text {
  font-size: 11.5px;
}

.bold-text {
  font-size: 14px;
  padding-left: 5px;
  font-weight: 600;
  letter-spacing: 1px;
}



// Bar chart
.barchart {
  height: 100%;
  width: 100%;
  .barchart-small-text {
    float: left;
    font-size: 78.5%;
    font-weight: 100;
    margin: 2% 0 0 3%;
  }
  .barchart-bold-text {
    float: left;
    font-size: 100%;
    font-weight: 600;
  }
  .bars  {
    margin: 4% 0 5% 0;
    float: left;
    width: 100%;
    height: 28%;
  }
  .students-bar {
    height: 60%;
    background-color: tint($secondary-color, 50%);
  }
  .slots-bar {
    height: 60%;
    background-color: $secondary-color;
  }
}

// Bar chart containers
.barchart-total {
  @include col(12/12);
  float: left;
  height: 61px;
  font-size: 16px;
}

.barchart-kto5 {
  float: left;
  width: 135px;
  height: 61px;
  font-size: 16px;
}

.barchart-6to8 {
  float: left;
  width: 135px;
  height: 61px;
  font-size: 16px;
}

.barchart-9to12 {
  float: left;
  width: 135px;
  height: 61px;
  font-size: 16px;
}

.grade-breakdown {
  height: 100%;
  @include col(12/12);
  padding: ($global-spacing) 0;

}

.barchart-total-horizontal {
  float: left;
  width: 100%;
  height: 61px;
  font-size: 16px;

/*  .barchart-stats {
    @include col(4/12);
  @include media(medium-up){
    @include col(7/12);
    float: left;
    }
  @include media(large-up){
    @include col(5/12);
    float: left;
    }
  }*/
  .bars {
     @include col(5/12);
      margin-top: 10px;
  @include media(medium-up){
    @include col(3/12);
  }
  @include media(large-up){
    @include col(6/12);
  }
/*    margin-left: $global-spacing/2;*/
  }

  .data-number {
    font-size: 1rem;
  }
  .data-description {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
  .data-students {
    color: tint($infographic-b-color, 30%);
  }
  .data-slots {
    color: $infographic-b-color;
  }
}

.lineplot {
  position: relative;
  @include col(10/12, $offset: -1/12);
  margin-bottom: $global-spacing * 2;
  background-color: tint($base-color, 95%);
  border-radius: $global-radius/2;
  height:10px;
  margin-left: $global-spacing/4;
/*  padding: $global-spacing/2;*/
  .line {
    top: -12px;
    position: absolute;
    height: 2px;
    background-color: tint($base-color, 70%);
    margin: $global-spacing 0;
  }
  .slot-dot {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: $primary-color;
    opacity: 0.8;
  }
  .student-dot {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: $infographic-b-color;
    opacity: 0.8;
  }

  .slots-count {
    margin-top: $global-spacing * 2;

  }

  .students-count {
/*    position: absolute;
    bottom: -40px;*/
  }

}

