.main-figure {
  height: 100%;
  width: 100%;
  overflow: auto;
/*  padding: $global-spacing ($global-spacing * 2);*/

}

.main-figure-interior{
  height: 899px;
  padding: $global-spacing 0;
  @include col(10/12, $offset: 1/12);
}

// Top
.back-link {
  font-size: 11px;
  a {
    color: $links;
    &:hover {
      color: lighten($links, 40%);
    }
  }
}

.zipcode-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: $base-font-regular;
}

.small-text {
  font-size: 11.5px;
}

.bold-text {
  font-size: 14px;
  padding-left: 5px;
  font-weight: 600;
  letter-spacing: 1px;
}

.med-income {

}

.fam-below-poverty {

}

.school-aged-children {

}

.dropout-factories {
  float: left;

}

.feeder-schools {
  float: left;

}

.after-school-programs {
  width: 100%;
  height: 125px;
  margin-top: 50px;
  .title {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 32px;
    border-bottom: 1px solid $border-grey;
  }
  .program-count {
    float: left;
    margin: 30px 0 0 30px;
    width: 100px;
    height: 65px;
    .small-text {
      float: left;
      margin: 22px 0 0 -1px;
      font-size: 13px;
      font-weight: 100;
    }
    .bold-text {
      float: left;
      margin: 19px 2px 0 -1px;
      font-size: 16px;
    }
  }
  .barchart-total {
    margin: 31px 0 0 26px;
    float: left;
    width: 122px;
    height: 61px;
  }
}

// Bar chart
.barchart {
  height: 100%;
  width: 100%;
  .barchart-small-text {
    float: left;
    margin: 2% 0 0 2%;
    font-size: 78.5%;
    font-weight: 100;
  }
  .barchart-bold-text {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 100%;
  }
  .bars  {
    margin: 4% 0 5% 0;
    float: left;
    width: 100%;
    height: 28%;
  }
  .students-bar {
    height: 50%;
    background-color: rgb(216, 216, 216);
  }
  .slots-bar {
    height: 50%;
    background-color: rgb(131, 131, 131);
  }
}
