.main-figure {
  height: 100%;
  width: 100%;
  overflow: auto;
/*  padding: $global-spacing ($global-spacing * 2);*/

}

.main-figure-interior{
  height: 899px;
  padding: $global-spacing 0;
  @include col(10/12, $offset: 1/12);
}

// Top
.back-link {
  font-size: 11px;
  a {
    color: $links;
    &:hover {
      color: lighten($links, 40%);
    }
  }
}

.zipcode-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: $base-font-regular;
}

.small-text {
  font-size: 11.5px;
}

.bold-text {
  font-size: 14px;
  padding-left: 5px;
  font-weight: 600;
  letter-spacing: 1px;
}

.med-income {

}

.fam-below-poverty {

}

.school-aged-children {

}

.dropout-factories {
  float: left;

}

.feeder-schools {
  float: left;

}

.after-school-programs {
  width: 100%;
  height: 125px;
  margin-top: 50px;
  .title {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 32px;
    border-bottom: 1px solid $border-grey;
  }
  .program-count {
    margin: 30px 0 0 30px;
    width: 100px;
    height: 65px;
    .small-text {
      float: left;
      margin: 22px 0 0 -1px;
      font-size: 13px;
      font-weight: 100;
    }
    .bold-text {
      float: left;
      margin: 19px 0 0 -1px;
      font-size: 16px;
      margin-right: 2px;
    }
  }
}
