body {
  font-family: Helvetica;
}

.header-container{
  background-image: url('../graphics/layout/colored-bar.svg');
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: top;
  @include col(12/12);
}

.header {
  position: relative;
  padding: ($global-spacing * 8) 0;
  @include col(10/12, $offset: 1/12);
}

.header-copy {
  text-align: center;
  position: relative;
}

.footer {
  padding: ($global-spacing * 2) 0 ($global-spacing * 4) 0;
  @include col(11/12, $offset: 0.5/12);
}

.footer-sources {
  @include col(8/12);
  font-size: 0.875rem;
}

.footer-links {
  @include col(4/12);
  a {
    @include col(12/12);
    margin-right: 0;
    line-height: 2rem;
  }
}

.content {
  position: relative;
  @include col(12/12);
  height: 700px;
  border-bottom: solid 1px tint($base-color, 80%);
  border-top: solid 1px tint($base-color, 80%);
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(100% - 327px);
  margin-left: 327px
}

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-attrib {
  position: absolute;
  left: 0;
  bottom: 0;
}

.sidebar {
  position: relative;
  width: 325px;
  height: 100%;
  float: left;
  border-right: 1px solid $border-grey;
}

.summary-stat {
  @include col(5/12);
}
