#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(100% - 350px);
  margin-left: 350px
}

section.sidebar {
  width: 350px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #808080;
}
