/* ==========================================================================
   Typography
   ========================================================================== */

p, ul, ol, dl, pre, blockquote {
  margin-bottom: $global-spacing;
}

p {
  font-weight: $base-font-light;
  font-family: $body-font-family;
  color: tint($base-color, 50%);
}

a {
  font-family: $base-font-family;
  font-weight: $base-font-bold;
  line-height: 2rem;
  color: $primary-color;
  &:hover {
    color: tint($primary-color, 30%);
  }
}

/* Lead
   ========================================================================== */

.lead {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: $base-font-light;
  opacity: 0.64;
}

/* Lists
   ========================================================================== */

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}

ul, ol {
  list-style-position: outside;
  margin-left: $global-spacing + ($global-spacing / 2);
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  font-family: $base-font-family;
}

dt {
  font-size: 1.25rem;
  line-height: 1rem;
  color: $secondary-color;
  margin-bottom: $global-spacing / 2;
  width:100%;
}

.data-number {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: $secondary-color;
  font-weight: $base-font-bold;
  font-family: $base-font-family;
}

.student-num {
  color: $infographic-b-color;
}

.slot-num {
  color: $primary-color;
}

.data-description {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: $base-font-regular;
  font-family: $base-font-family;
  color: tint($base-color, 40%);
}

dd {
  margin-bottom: $global-spacing / 2;
  font-size: 0.75rem;
}

.dl-horizontal {
  font-family: $base-font-family;
  @include col(5/12, $offset: 0.5/12);
  @extend .clearfix;
  padding-top: 1.5rem;
  padding-bottom: 2.25rem;
  margin-bottom: 0;
  height: 2rem;
  dt, dd {
    float: left;
  }
  dt {
    width: 100%;
    clear: left;
    font-size: 1.25rem;
    line-height: 0.375rem;
    padding-top: $global-spacing / 8;
    padding-right: $global-spacing / 2;
    width: auto;
  }
  dd {
    width: 90%;
    padding-top: $global-spacing / 4;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  dd + dd {
    margin-left: 32%;
  }
}
.dl-horizontal:nth-child(3n-2) {
  border-right: solid 1px tint($base-color, 95%);
}

.stat-full {
  float: left;
}

.error-text {
  float: left;
  margin-top: $global-spacing;
}

/* Blockquote
   ========================================================================== */

blockquote {
  box-shadow: inset 1px 0 0 0 $base-alpha-color;
  padding: ($global-spacing / 2) $global-spacing;
  *:last-child {
    margin-bottom: 0;
  }
  footer {
    opacity: 0.64;
    font-weight: $base-font-regular;
    margin-top: -0.5rem;
    &:before {
      content: '— ';
    }
  }
}


/* Dividers
   ========================================================================== */

.inner {
  border: 0;
  height: 1px;
  background: $base-alpha-color;
  width: 100%;
  margin: ($global-spacing) 0;
  float: left;
}

.main-stats {
  .inner {
    margin: 0;
    background: tint($base-color, 95%);
  }
}

.section {
  border: 0;
  height: 1px;
  background: tint($secondary-color, 40%);
  width: 100%;
  margin: ($global-spacing) 0;
  float: left;
}

.vertical {
  border: 0;
  height: 100%;
  background: tint($secondary-color, 40%);
  width: 1px;
  height-width: 16rem;
  margin: ($global-spacing) 0;
}



/* Headings
   ========================================================================== */

.heading, h1, h2, h3, h4, h5, h6 {
  font-family: $display-font-family;
  font-weight: $base-font-bold;
  margin-top: 0;
  margin-bottom: $global-spacing;
  small {
    font-size: 80%;
    font-weight: normal;
    vertical-align: top;
  }
}

.heading--xlarge {
  @include heading(1.75rem, xlarge-up);   // 28, 32, 36, 40
}

.heading--large {
  @include heading(1.5rem, xlarge-up);    // 24, 28, 32, 36
}

.heading--medium {
  @include heading(1.25rem, xlarge-up);   // 20, 24, 28, 32
}

.heading--small,
.heading--xsmall,
.heading--xxsmall {
  @include heading(1rem, xlarge-up);      // 16, 20, 24, 28
}

.heading-alt {
  font-size: 0.875rem;
  font-family: $base-font-family;
  line-height: 0;
  padding: $global-spacing;
  color: $base-color-light;
  display: inline-block;
}

.header {
  .heading-alt {
    background-color: $primary-color;
  }
}

.footer {
  .heading-alt {
    background-color: $secondary-color;
  }
}

.panel-subhead {
  font-family: $base-font-family;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: $base-font-bold;
  line-height: 1.5rem;
  margin-left: $global-spacing/4;
}

.secondary-title {
  float: left;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

.share-container  {
  @include center(150px);
}

.share {
  color: $primary-color;
  text-transform: uppercase;
  margin: $global-spacing/2;
  padding-right: $global-spacing;
  display: inline-block;
  float: left;
  border-right: solid 1px;
}

.share-icons {
  float: left;
  margin-top: $global-spacing/2;
  margin-left: $global-spacing/4;
  a {
    text-decoration: none;
    :hover {
      text-decoration: underline;
    }
  }
}

h1 {
  @include heading(3rem); // 28
/*  text-transform: uppercase;*/
}

h2 {
  @include heading(2rem);    // 24
}

h3 {
  @include heading(1.25rem);
}

h4, h5, h6 {
  font-family: $base-font-family;
  color: tint($base-color, 30%);
  @include heading(1rem);      // 16
}
