/* ==========================================================================
   Typography
   ========================================================================== */

p, ul, ol, dl, pre, blockquote {
  margin-bottom: $global-spacing;
}

p {
  font-weight: $base-font-light;
  font-family: $body-font-family;
  color: tint($base-color, 20%);
}

a {
  font-family: $base-font-family;
  font-weight: $base-font-bold;
  line-height: 2rem;
  color: $primary-color;
  &:hover {
    color: tint($primary-color, 30%);
  }
}

/* Lead
   ========================================================================== */

.lead {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: $base-font-light;
  opacity: 0.64;
}

/* Lists
   ========================================================================== */

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}

ul, ol {
  list-style-position: outside;
  margin-left: $global-spacing + ($global-spacing / 2);
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  font-family: $base-font-family;
}

dt {
  font-size: 1.5rem;
  line-height: 1.25rem;
  color: $secondary-color;
  margin-bottom: $global-spacing / 2;
  width:100%;
}

dd {
  margin-bottom: $global-spacing / 2;
  font-size: 0.875rem;
}

.dl-horizontal {
  font-family: $base-font-family;
  @extend .clearfix;
  dt, dd {
    float: left;
  }
  dt {
    clear: left;
    padding-top: $global-spacing / 8;
    padding-bottom: $global-spacing / 8;
    padding-right: $global-spacing / 2;
    width: auto;
  }
  dd {
    padding-left: $global-spacing / 2;
  }
  dd + dd {
    margin-left: 32%;
  }
}


/* Blockquote
   ========================================================================== */

blockquote {
  box-shadow: inset 1px 0 0 0 $base-alpha-color;
  padding: ($global-spacing / 2) $global-spacing;
  *:last-child {
    margin-bottom: 0;
  }
  footer {
    opacity: 0.64;
    font-weight: $base-font-regular;
    margin-top: -0.5rem;
    &:before {
      content: '— ';
    }
  }
}


/* Dividers
   ========================================================================== */

hr {
  border: 0;
  height: 1px;
  background: $base-alpha-color;
  width: 80%;
  max-width: 16rem;
  margin: ($global-spacing * 2) auto;
}


/* Headings
   ========================================================================== */

.heading, h1, h2, h3, h4, h5, h6 {
  font-family: $display-font-family;
  font-weight: $base-font-regular;
  margin-top: 0;
  margin-bottom: $global-spacing;
  small {
    font-size: 80%;
    font-weight: normal;
    vertical-align: top;
  }
}

.heading--xlarge {
  @include heading(1.75rem, xlarge-up);   // 28, 32, 36, 40
}

.heading--large {
  @include heading(1.5rem, xlarge-up);    // 24, 28, 32, 36
}

.heading--medium {
  @include heading(1.25rem, xlarge-up);   // 20, 24, 28, 32
}

.heading--small,
.heading--xsmall,
.heading--xxsmall {
  @include heading(1rem, xlarge-up);      // 16, 20, 24, 28
}

.heading-alt {
  font-size: 0.875rem;
  font-family: $base-font-family;
  line-height: 0;
  padding: $global-spacing;
  color: $base-color-light;
  display: inline-block;
}

.header {
  .heading-alt {
    background-color: $primary-color;
  }
}

.footer {
  .heading-alt {
    background-color: $secondary-color;
  }
}

.share {
  color: $primary-color;
  text-transform: uppercase;
  padding: $global-spacing 0;
  border-bottom: solid 1px $primary-color;
  display: inline-block;

}

h1 {
  @include heading(3.25rem); // 28
  text-transform: uppercase;
}

h2 {
  @include heading(2rem);    // 24
  text-transform: uppercase;
}

h3 {
  @include heading(1.25rem); 
  @include media(medium-up) {
  @include heading(1.75rem);   // 20
  }
  text-transform: uppercase;
}

h4, h5, h6 {
  @include heading(1rem);      // 16
}
